@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  padding-top: 12px;

  background-color: antiquewhite;
  flex-direction: column;
}

.app h1 {
  margin: 48px;
  font-weight: 600;
}

button {
  margin: 18px;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 8px;
  color: white;
  background-color: rgb(0, 132, 255);
  border: none;
}

a {
  margin-top: 20px;
}

.article {
  max-width: 740px;
  padding: 64px;
  margin: auto;
  line-height: 32px;
}

.article h1 {
  font-size: 42px;
  padding-bottom: 12px;
  font-weight: 600;
}

.article p {
  color: #6b3434;
  margin-top: 2em;
  font-size: 16px;
}

.article iframe {
  margin-top: 24px;
  width: 100%;
  height: 125px;
  border: none;
  border-radius: 4px;
}
